<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samah.itdlmainversion" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="controllers.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".ViewUserInfoActivity"
            android:label="@string/title_activity_view_user_info" >
        </activity>
        <activity
            android:name=".AddNoteActivity"
            android:label="@string/title_activity_add_note" >
        </activity>
        <activity
            android:name=".OrdinaryNoteActivity"
            android:label="@string/title_activity_ordinary_note" >
        </activity>
        <activity
            android:name=".ShoppingNoteActivity"
            android:label="@string/title_activity_shopping_note" >
        </activity>
        <activity
            android:name=".MeetingNoteActivity"
            android:label="@string/title_activity_meeting_note" >
        </activity>
        <activity
            android:name=".DeadlineActivity"
            android:label="@string/title_activity_deadline" >
        </activity>
    </application>

</manifest>
